footer{
    background-color: #A69EBA;
    height: 200px;
    width: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;

    div{

        img{
          border-radius: 50%;
          height: 170px;
          width: 150px;
        }
      }

    #men_foot{
        
        a{
            display: block;
            text-decoration: none;
            color: black;
        }
    }

    #disclaimer_copy{

        small{
            display: block;
        }
    }
}